<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edufix - Nouvelle Demande</title>
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/new_demand.css">
    <script src="/static/global.js"></script>
</head>
<body>
    <section id="welcomingg">
        <div id="bienvenuemr"><b>Bienvenue: </b> {{ username }}</div>
        <h1 id="edufix">Edu<span style="color: #c69a7b;">Fix</span></h1>
        <div id="toprightwelcomee">
            <a href="/logout">Logout</a>
            <a href="#">Settings</a>
            <div class="logooo">
                <img src="../static/ensam_logo.png" alt="" srcset="">
            </div>
        </div>
    </section>
    <section id="theactualwork">
        <div id="leftdivwork">
            <div id="who"><div><img src="../static/person.png" alt="" srcset=""></div>{{ username }}</div>
            <div>
                <h1 id="accueil">Accueil:</h1>
            </div>
            {% for elements in side_panel %}
                <div>
                    <h1>{{elements[0]}}</h1>
                    <ul>
                        {% for element in elements[1::] %}
                            <li onclick="window.location.href = '{{element[1]}}'">{{element[0]}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div id="rightdivwork">
            <h1>Nouvelle Demande:</h1>
            <div class="form-container">
                <h2>Formulaire de Réclamation</h2>
                <form id="reclamationForm", method="POST", action="{{ url_for("new_demand") }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="departement">Département:</label>
                        <select id="departement" name="departement" required>
                            <option value="">Choisir le département</option>
                            <option value="bibliotheque">S.Bib</option>
                            <option value="mathinfo">Maths Info</option>
                            <option value="aeee">AEEE</option>
                            <option value="td1">TD1</option>
                            <option value="td2">TD2</option>
                            <option value="cr">Centre de recherches</option>
                            <option value="civil">Civil</option>
                            <option value="ip">Industriel et Productique</option>
                            <option value="energetique">Energetique</option>
                            <option value="cl">Centre de langues</option>
                            <option value="materiaux">Materiaux</option>
                            <option value="mecanique">Mecanique</option>
                            <option value="amphi250">Amphi 250</option>
                            <option value="amphi450">Amphi 450</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                        <label for="salle">numéro de la salle:</label>
                        <input type="text" id="salle" name="salle" placeholder="Ex: Salle 2" required>
                    </div>
            
                    <div class="form-group">
                        <label for="typeProbleme">Type du Problème:</label>
                        <select id="typeProbleme" name="typeProbleme" required>
                            <option value="">Choisir le type du problème</option>
                            <option value="technique">Technique</option>
                            <option value="administratif">Administratif</option>
                            <option value="autre">Autre</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                        <label for="description">Description du Problème:</label>
                        <textarea id="description" name="description" placeholder="Décrivez le problème" rows="4" required></textarea>
                    </div>
            
                    <div class="form-group">
                        <label for="photo">Photo:</label>
                        <input type="file" id="photo" name="photo" accept="image/*">
                    </div>
            
                    <div class="form-group">
                        <button type="submit">Soumettre</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        form = document.getElementById("reclamationForm");
        form.addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(form);
        
            try {
                const response = await fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    enctype: "multipart/form-data",
                });
    
                if (response.ok) {
                    const data = await response.json();
                    console.log(data);
                    if (data.success) {
                        // alert("Login successful!");
                        window.location.href = "/"; 
                    }else{
                        window.location.reload()
                        console.log("what the sigma??")
                    }
                } else {
                    console.error("Response not OK", response.status);
                    window.location.reload()
                }
            } catch (error) {
                window.location.reload()
            }
        });
    </script>
</body>
</html>